<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642816113964-4oql4ah5a2fokonqkem9jtrkqrmtjcl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642816113964-4oql4ah5a2fokonqkem9jtrkqrmtjcl4</string>
	<key>API_KEY</key>
	<string>AIzaSyCBLF__6en-JGSubIEc_d8Toj9FPCDEaoM</string>
	<key>GCM_SENDER_ID</key>
	<string>642816113964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bcsdlab.hangang</string>
	<key>PROJECT_ID</key>
	<string>hangang-e3330</string>
	<key>STORAGE_BUCKET</key>
	<string>hangang-e3330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642816113964:ios:1fb7522510007824e94089</string>
</dict>
</plist>